.search_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

.search_bar input{
  border: none;
  border-radius: 8px;
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 35px;
  padding: 10px;
}

.search_bar .left_icon{
  color: gray;
  cursor: pointer;
  margin-right: 10px;
}

.search_bar .search_btn{
  color: gray;
  cursor: pointer;
  margin-left: 10px;
}

.list_wrap{
  margin-top: 30px;
}

.no_result{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: gray;
}

.subtitle_box1{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 85px 0 10px 0;
}
.subtitle_box2{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 30px 0 10px 0;
}

.subtitle{
  font-size: 18px;
  font-weight: 600;
}

/* 카테고리 */
.category_box{
  margin-top: 20px;
}

/* 스크롤바 없애기 */
.search_btn_wrap::-webkit-scrollbar{
  display: none;
}

/* 가로 스크롤 */
.search_btn_wrap{
  display: flex;
  margin: 0 20px;
  margin-top: 10px;
  overflow: auto;
  white-space: nowrap;
}

.search_category_btn{
  /* border: 1px solid lightgray;
  padding: 3px 8px;
  border-radius: 15px;
  font-size: 15px;
  margin-right: 6px;
  margin-bottom: 6px; */
  border: 1px solid lightgray;
  padding: 3px 10px;
  border-radius: 16px;
  font-size: 15px;
  margin-right: 8px;
  margin-bottom: 5px;
}

.recommendBoxList {
  display: flex;
  padding: 0 10px;
  flex-flow: wrap;
}

.recommend {
  margin: 5px 5px;
  border-radius: 20px;
  border: 1px solid #cccccc;
  cursor: pointer;
  width: auto;
  padding: 3px 8px 3px 8px;
  color: #707070;
  font-size: 14px;
}
.recommend2 {
  margin: 5px 5px;
  padding: 6px;
  border-radius: 20px;
  background-color: #ededed;
  cursor: pointer;
  width: auto;
  font-size: 14px;
  height: 30px;
  justify-content: center;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.recentWords {
  font-size: 12px;
  color: #707070;
}

.remove_button {
  margin-left: 4px;
  color: #bcbcbc;
  font-size: 20px;
}

/*.RemoveBox {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #c1c1c1;
  align-self: center;
  line-height: 19px;
  padding-left: 2px;
  margin-left: 10px;
}

.RemoveBox span {
  color: white;
}*/

@supports (height: 100dvh) {
  .no_result{
    height: 100dvh;
  }
}

